{% extends "base.html" %}
{% block content %}
<div style="max-width: 450px; margin: 3rem auto;">
    <div class="card" style="text-align: center;">
        <h2 style="color: var(--primary); margin-bottom: 2rem;">Crear Cuenta</h2>
        <form method="POST">
            <input type="text" name="nombre" placeholder="Nombre Completo o Negocio" required>
            <input type="email" name="email" placeholder="Correo Electrónico" required>
            <input type="tel" name="telefono" placeholder="Teléfono (WhatsApp)" required>
            
            <input type="password" name="password" placeholder="Contraseña" required>
            
            <div style="text-align: left; margin-bottom: 1rem;">
                <label style="font-weight: 600; color: var(--text-light);">Soy:</label>
                <select name="rol" style="margin-top: 5px;">
                    <option value="cliente">👤 Cliente (Quiero comprar)</option>
                    <option value="tienda">🏪 Negocio (Vendo Prod/Serv)</option>
                    <option value="repartidor">🛵 Repartidor</option>
                </select>
            </div>
            
            <button type="submit" class="btn-primary">Registrarse</button>
        </form>
    </div>
</div>
{% endblock %}